{% extends 'base.html.twig' %}

{% block title %}
    {{ category.name }}
{% endblock %}


{% block body %}
    <h1>{{ category.name }}</h1>

    {%  if category.description is not empty %}
        <p>{{ category.description }}</p>
    {% endif %}

    <h2>Derniers articles dans cette catégories</h2>

    {# On inclus le tableau depuis un autre fichier car il est le
     meme sur Index #}
    {% include 'article/_list.html.twig' %}


{% endblock %}
