{% extends 'base.html.twig' %}

{% block title %}
    {{ category.name }}
{% endblock %}


{% block body %}
    <h1>{{ category.name }}</h1>

    {%  if category.description is not empty %}
        <p>{{ category.description }}</p>
    {% endif %}
{% endblock %}
